---
layout: markdown_page
title: "Product Vision - Distribution"
---

- TOC
{:toc}

GitLab is the engine that powers many companies' software businesses so it is
important to ensure it is as easy as possible to deploy, maintain, and stay up
to date.

Today we have a mature and easy to use Omnibus based build system, which is the
foundation for nearly all methods of deploying GitLab. It includes everything a
customer needs to run GitLab all in a single package, and is great for
installing on virtual machines or real hardware. We are committed to making our
package easier to work with, highly available, as well as offering automated
deployments on cloud providers like AWS.

We also want GitLab to be the best cloud native development tool, and offering a
great cloud native deployment is a key part of that. We are focused on offering
a flexible and scalable container based deployment on Kubernetes, by using
enterprise grade Helm Charts.

<%= partial("direction/categories", :locals => { :stageKey => "distribution" }) %>

## GitLab High Availability

<%= wishlist["HA"] %>

## Cloud Native

<%= wishlist["Cloud Native"] %>

<%= partial("direction/other", :locals => { :stage => "distribution" }) %>
